<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="priv.huke.dao.UserDaoImpl"/>
    <bean id="user" class="priv.huke.po.User">
        <property name="name" value="Miguel"/>
        <property name="address" value="1171 Oak Way"/>
        <property name="age" value="45"/>
    </bean>
</beans>