<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <context:component-scan base-package="priv.huke"/>

    <bean id="userSetDI" class="priv.huke.bean.UserSetDI">
        <property name="id" value="13"/>
        <property name="name" value="Set"/>
    </bean>

    <!--#方式读取配置1-->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:value.properties</value>
            </list>
        </property>
    </bean>
    <!--#方式读取配置2-->
    <!--<util:properties id="configProperties" location="classpath:value.properties"/>-->

    <!--$方式读取配置-->
    <!--<bean id="appProperty"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:value.properties</value>
            </array>
        </property>
    </bean>-->

    <context:property-placeholder location="classpath*:"></context:property-placeholder>
</beans>